.buildZoom-logo-image {
  transition-property: filter;
  transition-duration: 150ms;
  width: 12rem;
  height: auto;
  object-fit: cover;
}

.buildZoom-logo-image:hover {
  filter: drop-shadow(0.25rem 0.25rem 0.25rem var(--steel-blue));
}
