.services-font {
  font-family: "Roboto", sans-serif;
}

.btn-custom {
  background-color: var(--ivory);
  border-color: var(--attaplumbing-red);
  color: var(--onyx);
}

.btn-custom:hover {
  background-color: var(--attaplumbing-red);
  color: var(--ivory);
  text-shadow: 1px 1px 0px var(--onyx);
  box-shadow: 10px 5px 5px var(--onyx);
}

.service-style {
  text-decoration: none;
  color: black;
  overflow: hidden;
}

.btn-custom:active {
  text-decoration: none;
  background-color: var(--ivory);
  border-color: var(--attaplumbing-red);
  color: var(--onyx);
}
