.btn-custom {
  background-color: var(--ivory);
  border-color: var(--attaplumbing-red);
  color: var(--onyx);
}

.btn-custom:hover {
  background-color: var(--attaplumbing-red);
}

.service-style {
  text-decoration: none;
  color: black;
  overflow: hidden;
}

.service-style:active {
  text-decoration: underline;
}
