.service-style {
  text-decoration: none;
  color: black;
  overflow: hidden;
}

.service-style:hover {
  text-decoration: solid;
  color: blue;
}

.service-style:active {
  text-decoration: underline;
}
